<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card shadow-lg p-4" style="width: 100%; max-width: 500px">
    <h2 class="text-center mb-2">Login</h2>
    <!-- Form -->
    <form name="form" class="row g-3">
      <!-- Email -->
      <div>
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          class="form-control"
          placeholder="example@profiler.com"
        />
        <div>
          <span class="text-danger">Email is Mandatory</span>
          <span class="text-danger">Invalid Email</span>
        </div>
      </div>

      <!-- Password -->
      <div>
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          placeholder="******"
        />
        <div>
          <span class="text-danger">Email is Mandatory</span>
          <span class="text-danger"
            >Password must be at least 8 characters</span
          >
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </form>
  </div>
</div>
