<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card shadow-lg p-4" style="width: 100%; max-width: 500px">
    <h2 class="text-center mb-2">Login</h2>

    <form
      ng-submit="$LoginCtrl.onLogin($event)"
      name="form"
      class="row g-3 needs-validation"
      novalidate
    >
      <!-- Email -->
      <div>
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          class="form-control"
          ng-required="true"
          ng-model="$LoginCtrl.user.email"
          placeholder="example@profiler.com"
        />
        <div ng-show="form.$submitted || form.email.$touched">
          <span ng-show="form.email.$error.required" class="text-danger"
            >Email is Mandatory</span
          >
          <span ng-show="form.email.$error.email" class="text-danger"
            >Invalid Email</span
          >
        </div>
      </div>

      <!-- Password -->
      <div>
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          ng-required="true"
          ng-model="$LoginCtrl.user.password"
          placeholder="******"
          ng-minlength="8"
        />
        <div ng-show="form.$submitted || form.password.$touched">
          <span ng-show="form.password.$error.required" class="text-danger"
            >Email is Mandatory</span
          >
          <span ng-show="form.password.$error.minlength" class="text-danger"
            >Password must be at least 8 characters</span
          >
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <button
          type="submit"
          class="btn btn-primary"
          ng-disabled="form.$invalid"
        >
          Login
        </button>
      </div>
    </form>
  </div>
</div>
